<!DOCTYPE html>
<html>
<head>

  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Martine | IS-206</title>
</head>

<body>
  <a href="/blog" class="main-title">
   Martine | IS-206
  </a>

  <div class="login-area"><!-- login area, gets input from python script--> 
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content"><!--Basic main content for the site--> 
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

